
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

$header-font: 'Russo One', sans-serif;
$about-font: 'Playfair Display', serif;
$nav-color:#f1f0f8;
$blog-color: #3b2261;
$cap-color:#272643;
$nav-bg:#e5e8ec;
$body-bg:#021012;
$blog-font:'Rubik Dirt', cursive;


