@use "../../styles/variables.scss" as *;

.skill {
    padding: 10px;
    font-weight: bold;
    font-size: 40px;
    color: $cap-color;
    margin-left: 5px;
    text-align: center;
    color: $blog-color;
    .flex-container {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        font-size: 30px;
        text-align: center;
        .flex-item {
            height: 100px;
            width: 80px;
            padding: 25px;
        }

    }
}