@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
.skill {
  padding: 10px;
  font-weight: bold;
  font-size: 40px;
  color: #272643;
  margin-left: 5px;
  text-align: center;
  color: #0d0803;
}
.skill .flex-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  font-size: 30px;
  text-align: center;
}
.skill .flex-container .flex-item {
  height: 100px;
  width: 80px;
  padding: 20px;
}
.skill .flex-container .native {
  height: 110px;
  width: 110px;
  padding: 20px;
}