@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
.about-head {
  padding: 10px;
  font-weight: bold;
  font-size: 40px;
  line-height: 19px;
  color: #0d0803;
}
.about-text {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 25px;
  padding: 5px;
  line-height: 60px;
  font-family: "Playfair Display", serif;
  color: #37146a;
}
.about-text a:hover {
  color: #d9c867;
}
.about__resume {
  padding: 20px;
  color: #875f2e;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.5s;
}